.users-list a {
  color: #000;
  text-decoration: none;
}

.users-list a:hover {
  color: #2854a1;
  text-decoration: none;
}

.users-list-bottom form,
.users-list-bottom a {
  margin-right: 5px;
}

.users-list .media {
  margin-bottom: 10px;
}
